
<app-navbar></app-navbar>
<br/><br/>
<body>
  
    <div class="center">
 <h2>CONTACT US</h2>    
    
        <form method="post">
            <div class="text_field">
                <input type="text" required>
                <span></span>
                <label>Enter Name</label>
            </div>
            <div class="text_field">
              <input type="text" required>
              <span></span>
              <label>Enter Email</label>
          </div>
          <div class="text_field">
            <input type="text" required>
            <span></span>
            <label>Enter Phone No.</label>
        </div>
                <textarea id="message" name="message" placeholder="Message" cols="40" rows="4"></textarea>
                <span></span>
                <label></label>
            
                 <input type="submit" value="Send">
               <div class="map">
                <h3>Google Maps</h3>
                <div id="map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3506.1987063598017!2d83.82886371469704!3d19.047313587104387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3c96658f8652ad%3A0x7dafcb1b8586f019!2sGIET%20University!5e1!3m2!1sen!2sin!4v1639410290446!5m2!1sen!2sin"  width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div> 
              </div>
                   
                
        </form>
    </div>
</body>     