<div align="center">

 <app-navbar></app-navbar>
<br><br>

<body>
  <div class="welcome-text">
      <h1><b>We  Are
 <br>
<span style="color: rgb(213, 236, 9);">Team </span>
<span style="color: rgb(226, 241, 9);">Implementation</span></b></h1>
  </div>

  <div class="row"></div>
  <div class="column">
    <div class="card">
      <img src="assets/img/S.jpg"  style="width:60%" class="center">
      <div class="container">
        <h2>Jhasaketan Swain</h2>
        <p class="title">Front-end Developer</p>
        <p>jhasaketanzobra1@gmail.com</p>
        <p>Mob No.9337121350</p>
        
      </div>
    </div>
  </div>  


  <div class="column">
    <div class="card">
      <img src="assets/img/L.jpg"  style="width:60%" class="center">
      <div class="container">
        <h2>Lipsha Mishra</h2>
        <p class="title">Designer & Developer</p>
        <p>19mca002.lipshamishra@giet.edu</p>
        <p>Mob No.9876543210</p>
        
      </div>
    </div>
  </div>

<div class="column">
    <div class="card">
      <img src="assets/img/G.jpg"  style="width:60%" class="center" >
      <div class="container">
        <h2>Gautam Raj Sahu</h2>
        <p class="title">Back-end Developer</p>
        <p>19mca003.goutamrajsahu@giet.edu</p>
        <p>Mob No.1234567890</p>
        
      </div>
    </div>
</div>
</body>
 

 
          
      
     
   
 


   