
<app-navbar></app-navbar>
<br/><br/>


<html lang="en">
    <head>
           <meta charset="UTF-8">
           <meta name="viewport" content="width=device-width,initial-scale=1.0">
           <title>JOB PORTAL</title>
           <link rel="icon" href="assets/img/favicon.ico">
            
    </head>
    <body>
          <div class="outer">
              <div class="header">
                  <div class="logo">
                      <img src="assets/img/logo.png" alt="">
                  </div>
                      <div class="title">
                          <p class="heading">JOB PORTAL</p>
                          <p class="sub_heading">WWW.JOBPORTAL.COM</p>
                      </div>
              </div>
              <div class="navbar">
                  <ul>
                    <li><a href="/home">Home</a></li>
                      <li><a href="#">Latest Jobs</a></li>
                      <li><a href="#">Result</a></li>
                      <li><a href="#">Admit Card</a></li>
                      <li><a href="#">Answer Key</a></li>
                      <li><a href="#">Syllabus</a></li>
                      <li><a href="#">Admission</a></li>
                      <li><a href="/contactus">Contact Us</a></li>
                  </ul>
              </div>
              <div class="latest_news">
                  <a href="#">Job Portal Result Android Apps</a> ||
                  <a href="#">Job Portal Result Window Apps</a> ||
                  <a href="#">Job Portal Result Apple / IOS Apps</a> 
                 
                </div>
                <div class="latest_news">
                    <marquee behaviour="alternate" onmouseover="stop()" onmouseout="start()">
                        
                        <a href="#">CSIR UGC NET Apply Online</a> ||
                        <a href="#">SSC CGL Apply Online</a> ||
                        <a href="#">UPSC CDS (I) 2022 Apply Online</a> ||
                        <a href="#">CBSE CTET Dec 2021 Admit Card</a> ||
                        <a href="#">UPSC NDA & NA (I) 2022 Apply Online</a> ||
                        <a href="#">FSSAI 2022 Admit Card</a> ||
                    </marquee>
                </div>
                <div class="latest_news">
                    <marquee behaviour="alternate" onmouseover="stop()" onmouseout="start()">
                        <a href="#">Law Govt Jobs 2022 | Advocate Jobs</a> ||
                        <a href="#">Engineer Jobs 2022 Latest Engineering </a> ||   
                        <a href="#"> ITI Jobs 2022 | ITI Recruitment </a> ||
                        <a href="#">Graduate Jobs 2022 | Any Degree Jobs </a> ||
                        <a href="#">Diploma Government Jobs 2022 </a> ||
                        <a href="#">10th 12th Pass Govt Jobs 2022 Apply</a> ||
                        <a href="#">UMCA Jobs 2022 </a> ||
                        <a href="#">MBA Jobs 2022 | Manager Jobs in Govt, Bank, Railway</a> ||
                    </marquee>
                </div>
                <div class="join_us">
                    <a href="https://www.facebook.com/profile.php?id=100008891283730">Join on Facebook</a>
                </div> 
                <div class="online">
                      <div class="box" style="background: #868A08;">
                          <a href="#">CSIR UGC NET Apply Online</a>                          
                            </div>
                            <div class="box" style="background: #0404B4;">
                          <a href="#">SSC CGL 2021 Apply Online</a>                          
                            </div>
                            <div class="box" style="background: #FB5E03;">
                          <a href="#">UPSC ESE 2021 Apply Online</a>                           
                            </div>
                            <div class="box" style="background: #8C0101;">
                          <a href="#">Apply Online IB ACIO Admit Card</a>	                                                     
                          </div>
                          <div class="box" style="background: #088a49;">
                              <a href="#">SSC CHSL 2020Admit Card</a>                              
                        </div>
                        <div class="box" style="background: rgb(241, 10, 145);">
                          <a href="#">Admit CardCTET Dec 202 1Admit Card</a>	                         
                        </div>
                        <div class="box" style="background: rgb(8, 165, 238);">
                            <a href="#">Apply Online IB ACIO Admit Card</a>	
                          </div>
                          <div class="box" style="background: rgb(238, 5, 219);">
                            <a href="#">UPSC NDA & NA 2022 Apply Online</a>
                          </div>
                    </div> 
                    <div class="container">
                        <div class="card">
                            <div class="card-header">
                                Result
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li><a href="#">NTA CSIR NET Result 2021</a></li>
                                    <li><a href="#">UPSC Result 2021</a></li>
                                    <li><a href="#">CGPSC Civil Judge Result 2021</a></li>
                                    <li><a href="#">GATE Result 2021</a></li>
                                    <li><a href="#">NIMCET Result 2021</a></li>
                                    <li><a href="#">IISER Result 2021</a></li>
                                </ul>
                                
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                Admit Card
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li><a href="#">NTA CSIR NET Admit card</a></li>
                                    <li><a href="#">MP NHM CHO Admit card</a></li>
                                    <li><a href="#">CGPSC Civil Judge Admit card</a></li>
                                    <li><a href="#">NTA CSIR NET Admit card</a></li>
                                    <li><a href="#">NTA CSIR NET Admit card</a></li>
                                    <li><a href="#">NTA CSIR NET Admit card</a></li>
                                </ul>
                                
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                Latest Jobs
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li><a href="#">NTA CSIR NET  2021</a></li>
                                    <li><a href="#">MP NHM CHO  2021</a></li>
                                    <li><a href="#">CGPSC Civil Judge  2021</a></li>
                                    <li><a href="#">NTA CSIR NET  2021</a></li>
                                    <li><a href="#">NTA CSIR NET  2021</a></li>
                                    <li><a href="#">NTA CSIR NET  2021</a></li>
                                </ul>
                                
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                Answer Key
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li><a href="#">NTA CSIR NET Answer Key</a></li>
                                    <li><a href="#">MP NHM CHO Answer Key</a></li>
                                    <li><a href="#">CGPSC Civil Judge Answer Key</a></li>
                                    <li><a href="#">NTA CSIR NET Answer Key</a></li>
                                    <li><a href="#">NTA CSIR NET Answer Key</a></li>
                                    <li><a href="#">NTA CSIR NET Answer Key</a></li>
                                </ul>
                                
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                               Syllabus
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li><a href="#">NTA CSIR NET Syllabus</a></li>
                                    <li><a href="#">MP NHM CHO Syllabus</a></li>
                                    <li><a href="#">CGPSC Civil Judge Syllabus</a></li>
                                    <li><a href="#">NTA CSIR NET Syllabus</a></li>
                                    <li><a href="#">NTA CSIR NET Syllabus</a></li>
                                    <li><a href="#">NTA CSIR NET Syllabus</a></li>
                                </ul>
                                
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                               Admission
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li><a href="#">JAM Recruitment 2022</a></li>
                                    <li><a href="#">AISSEE Recruitment 2022</a></li>
                                    <li><a href="#">NDA Latest Recruitment 2022</a></li>
                                    <li><a href="#">CLAT Recruitment 2022 </a></li>
                                    <li><a href="#">Indian Railways Recruitment 2022</a></li>
                                    <li><a href="#">UPSC Recruitment 2022</a></li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>   
            </div>     
    </body>       
</html>         
    


  
